@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 auto;
    text-align: center;
}

h1{
    width: 100%;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gray;
    color: white;
    text-shadow: 2px 2px 2px black;
}

table{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 7px;
    
}

thead{
    background-color: gray;
    color: white;
    
}

tfoot{
    background-color: gray;
    color: white;
}
.num{
    text-align: right;
}